@model IEnumerable<Appointment>
@{ ViewBag.Title = "Appointments";}


<div class="row">
    <h2>
        Appointments List
    </h2>
</div>

<div class="row">
    @if (Model.Any())
    {
        <table class="appointlist">
            <thead>
                <tr class="appointlist_tr">
                    <th class="appointlist_th">Date</th>
                    <th class="appointlist_th">Start Time</th>
                    <th class="appointlist_th">End Time</th>
                    <th class="appointlist_th">Student</th>
                    <th class="appointlist_th">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr class="appointlist_tr">
                        <td class="appointlist_td">@appointment.Date.ToString("MMMM d, yyyy")</td>
                        <td class="appointlist_td">@appointment.Start.ToString("h:mm tt")</td>
                        <td class="appointlist_td">@appointment.End.ToString("h:mm tt")</td>
                        <td class="appointlist_td">@(appointment.IsBooked ? (await userManager.FindByIdAsync(appointment.StudentId)).ToString() : "N/A")</td>
                        <td>
                            <a class="appointlist_crud" asp-controller="Appointment"
                               asp-action="Edit"
                               asp-route-appointmentId="@appointment.AppointmentId">Modify</a>
                            @if (appointment.IsBooked)
                            {
                                <span>
                                    | <a class="appointlist_crud" asp-controller="Appointment"
                                         asp-action="CancelAppointment"
                                         asp-route-appointmentId="@appointment.AppointmentId">Cancel</a>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }else
    {
        <center>There are currently no appoinment time slots added.</center>
    }

    <div class="row">
        <a class="btn_appointlist" asp-controller="Appointment" asp-action="Create">Create an Appointment</a>
    </div>
</div>
